# fly.toml
app = "biograph"
primary_region = "ord"

[build]
  [build.args]
    PYTHON_VERSION = "3.11"

[env]
  PORT = "8000"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256
